.inputBox{
    div{
        margin-top: 11px;
        
        div{
            display: flex;
            align-items: center;
            flex-shrink: 0;

            width: 329.929px;
            height: 48px;
            margin-bottom: 22px;

            border-radius: 4px;
            border: 1.218px solid var(--grey-2, #343B41);
            background: var(--grey-2, #343B41);
            
        }
        select{
            width: 18.75rem;
            height: 1.6875rem;
            flex-shrink: 0;
        }
        span{
            margin-left: 10px;
        }
    }
}