%buttonDefault{
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 10.152px;
    border-radius: 4px;    
}

.button{
    @extend %buttonDefault;
    
    &.bigger{
        width: 324px;
        height: 48px;
        padding: 0px 22.334px;
        @media(max-width: 400px){
            width: 259.902px;
            height: 38.504px;
        }
        @media(max-width: 345px){
            width: 230px;
            height: 34,6536px;
        }
    }
    &.middle{
        width: 48px;
        height: 32px;
        padding: 0px 16.243px;

        background: var(--grey-3);
    }
    &.smaller{
        width: 32px;
        height: 32px;
        background: var(--grey-3);
    }

    &.pink{
        background: var(--color-primary);
    }
    &.pinkDisable{
        background: var(--color-primary-Disable);
    }
    &.grey{
        background: var(--grey-1);
    }
}
.button:hover{
    transition: .3s;
    opacity: 50%;
}