.cardContainer{
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 100%;
    max-width: 78.125rem;
    height: 49px;
    margin-bottom: 11px;
     
    border-radius: 4px;
    background: var(--grey-4);

    @media(max-width: 348px){
        display: flex;    
    }
}
.techInfo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;
    h4{
        margin-left: 22px;
    }
    @media(max-width: 348px){
        display: grid;
        h4{
            margin-top: 5px;
        }
        p{
            margin-left: 22px;
        }       
    }
    @media(max-width: 290px){    
        p{
            margin-top: 7px;
        } 
    }
}
.sectionEditTech{   
    margin-right: 22px;
    display: flex;
    flex-direction: row;
    align-items: center; 
    margin-left: 22px;

}